# version format
version: 0.1.0.{build}

# environment variables
environment:
  YOTPO_API_KEY:
    secure: 9BD/L7erIVKL9Hq7m1OhWPYJAM5lDks1KjUXQAnlPSp26nxkmIjs4/dD4AbPwu15
  YOTPO_API_SECRET:
    secure: iUXMftBIRRzPgeX8kg1Aw94cM8b/6+DNOwG6BWdSaH9NQDD/4Itg7dEUqvpDZ+Er
  TEST_EMAIL:
    secure: r+AbRpIwEldTC0LIevfQMOFuwUZ576k7WcM78751NCE=

# enable patching of AssemblyInfo.* files
assembly_info:
  patch: true
  file: "**\\AssemblyInfo.*"
  assembly_version: "{version}"
  assembly_file_version: "{version}"

# scripts to run before build
before_build:
  - nuget restore
  - ps: $creds = ConvertFrom-Json -InputObject (Gc .\src\lib\ClientCredentials.json -Raw)
  - ps: $creds.client_id = $env:YOTPO_API_KEY
  - ps: $creds.client_secret = $env:YOTPO_API_SECRET
  - ps: $creds.email = $env:TEST_EMAIL
  - ps: $creds | ConvertTo-Json | Out-File ".\src\lib\ClientCredentials.json"

# build configuration
build:
  project: Yotpo.Net.sln
  publish_nuget: true             # package projects with .nuspec files and push to artifacts
  verbosity: minimal               # MSBuild Verbosity level

# deployment
deploy:
  provider: NuGet
  name: NuGet
  api_key:
    secure: euh1/mFbhtk7s9fKjYxCGxSBJEwXKsrUvwJ2gn6dQcbTR9QiKQaFvhzrMqiUrpwr
  skip_symbols: false
  artifact: /.*\.nupkg/
  on:
    branch: master
    appveyor_repo_tag: true
